<div class="fixed-bottom">
    <div class="footer">
        <div class="d-table container h-100 w-100">
            <div class="d-table-cell align-middle">
                <div class="email-element">
                    <a href="mailto:techonline_dev@outlook.com?subject=TechOnline - Suporte">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="d-table-cell align-middle">
                <div class="social-links">
                    <a class="icon">
                        <i class="fa fa-facebook-official facebook" aria-label="Facebook link" role="img"></i>
                    </a>
                    <a class="icon">
                        <i class="fa fa-twitter twitter" aria-label="Twitter link" role="img"></i>
                    </a>
                    <a class="icon">
                        <i class="fa fa-linkedin linkedin" aria-label="Linkedin link" role="img"></i>
                    </a>
                    <a class="icon">
                        <i class="fa fa-whatsapp whatsapp" aria-label="Whatsapp link" role="img"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>