<div class="footer">
    <div class="d-table container h-100 w-100">
        <div class="d-table-cell align-middle">
            <div class="email-element">
                <i class="icon icon-email" aria-hidden="true"></i>
                <a href="mailto:email@email.com" class="link-email">email@email.com</a>
            </div>
        </div>
        <div class="d-table-cell align-middle">
            <div class="social-links">
                <a class="facebook icon icon-facebook">Facebook</a>
                <a class="twitter icon icon-twitter">Twitter</a>
                <a class="linkedin icon icon-linkedin">LinkedIn</a>
                <a class="whatsapp icon icon-whatsapp">WhatsApp</a>
            </div>
        </div>
    </div>
</div>