<div class="main">
    <div class="container main-body">
        <h1>TechOnline</h1>
        <h2>Aliquam volutpat tortor vel diam placerat elementum</h2>
    </div>

    <div class="card-list">
        <div class="container">
            <div class="card primary">
                <div class="card-content h-100">
                    <div class="d-table w-100 h-100">
                        <div class="d-table-cell align-middle">
                            <strong class="card-title">Lorem ipsum dolor sit amet</strong>
                            <div class="card-body">
                                consectetur adipiscing elit. Vivamus nisi orci, sagittis in convallis non, porttitor in
                                orci.
                                Nulla
                                purus leo, dapibus aliquet augue eu, lacinia porttitor risus
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card secondary">
                <div class="card-content h-100">
                    <div class="d-table w-100 h-100">
                        <div class="d-table-cell align-middle">
                            <strong class="card-title">Lorem ipsum dolor sit amet</strong>
                            <div class="card-body">
                                consectetur adipiscing elit. Vivamus nisi orci, sagittis in convallis non, porttitor in
                                orci.
                                Nulla
                                purus leo, dapibus aliquet augue eu, lacinia porttitor risus
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card tertiary">
                <div class="card-content h-100">
                    <div class="d-table w-100 h-100">
                        <div class="d-table-cell align-middle">
                            <strong class="card-title">Lorem ipsum dolor sit amet</strong>
                            <div class="card-body">
                                consectetur adipiscing elit. Vivamus nisi orci, sagittis in convallis non, porttitor in
                                orci.
                                Nulla
                                purus leo, dapibus aliquet augue eu, lacinia porttitor risus
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="secondary-content">
    <div class="d-table w-100 h-100">
        <div class="d-table-cell align-middle">
            <div class="container">
                <div class="text">
                    Quisque egestas est nisl, et tincidunt nulla semper sit amet. Maecenas aliquet felis et mauris
                    posuere
                    molestie. Proin sed vulputate eros, vestibulum cursus sapien. Proin eu leo erat. Nunc varius maximus
                    sodales. Suspendisse aliquam congue dolor. Quisque gravida euismod dui, sed rutrum felis fermentum
                    vitae.
                    Suspendisse tincidunt id mi id blandit. Integer urna odio, efficitur vitae consectetur a, aliquam ac
                    ligula.
                    Integer pellentesque sed leo ut imperdiet. Interdum et malesuada fames ac ante ipsum primis in
                    faucibus.
                    Integer volutpat semper augue vel vulputate. Nam at arcu eu nisi vulputate mattis quis elementum
                    erat. Nulla
                    vestibulum ligula id tellus viverra, sed sodales odio placerat. Pellentesque ornare semper viverra
                </div>
            </div>
        </div>
    </div>
</div>