<div class="main">
    <div class="container h-100" style="position: relative;">
        <div class="main-body">
            <h1>TechOnline</h1>
            <h2>Tutoriais para acessar o seu computador</h2>
        </div>
    </div>
</div>

<div class="secondary-content">
    <div class="d-table w-100 h-100">
        <div class="d-table-cell align-middle">
            <div class="container">
                <ng-container *ngIf="checkIsRoot(); else others">
                    <h3 class="subtitle">Qual problema seu computador está apresentando?</h3>

                    <form (submit)="searchText()" id="pesquisa" #pesquisa>
                        <input type="text" class="form-control" placeholder="Buscar pelo problema" [formControl]="search">
                        <button type="submit" style="display: none;"></button>
                    </form>

                    <div class="card-list" *ngIf="question && question.length > 0; else naoEncontrado">
                        <div class="card-item" *ngFor="let option of question" (click)="onClick(option)">
                            <div class="triangle"></div>
                            <div class="text" [innerHTML]="option.message"></div>
                        </div>
                    </div>

                    <ng-template #naoEncontrado>
                        <p style="margin-top: 30px; font-size: 20px;">Não foi encontrado conteúdo para a sua pesquisa.</p>
                    </ng-template>
                </ng-container>


                <ng-template #others>
                    <ng-container *ngIf="!question.final; else onlyText">
                        <h3 class="subtitle" [innerHTML]="question.message"></h3>
                        <ng-container *ngIf="question.helpMessage">
                            <h4 class="help-title" [innerHTML]="question.helpMessage.title"></h4>
                            <p class="help-text" [innerHTML]="question.helpMessage.message"></p>
                        </ng-container>

                        <div class="card-list">
                            <div class="card-item" (click)="onClick(option)"
                                *ngFor="let option of question.options; let index = index"
                                [ngStyle]="{ 'margin-left.px' : index * 35 }">
                                <div class="triangle"></div>
                                <div class="text" [innerHTML]="option.message"></div>
                            </div>
                        </div>

                        <div class="d-block btn-group" style="margin-top: 40px;">
                            <button type="button" class="btn btn-primary" (click)="back()">Voltar</button>
                            <button type="button" class="btn btn-primary" routerLink="/tutoriais">Buscar nova solução</button>
                        </div>
                    </ng-container>

                    <ng-template #onlyText>
                        <p class="final-text" [innerHTML]="question.message"></p>

                        <div class="d-block btn-group">
                            <button type="button" class="btn btn-primary" routerLink="/tutoriais">Buscar nova
                                solução</button>
                            <button type="button" class="btn btn-primary" routerLink="/">Voltar ao início</button>
                        </div>
                    </ng-template>
                </ng-template>
            </div>
        </div>
    </div>
</div>