<div class="header">
    <div class="container">
        <div class="header-logo">
            <div class="header-element">
                <div class="header-item">
                    <div class="d-block">
                        <i class="icon icon-main" aria-hidden="true"></i>
                        <div class="title">
                            <strong>Tech</strong><span class="lighten">Online</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-menu">
            <div class="header-element">
                <nav class="navigation header-item">
                    <ul>
                        <li><a class="nav-item" routerLink="/" routerLinkActive="active">Home</a></li>
                        <li><a class="nav-item" routerLink="/sobre" routerLinkActive="active">Sobre nós</a></li>
                        <li><a class="nav-item" routerLink="/contato" routerLinkActive="active">Contato</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>