<div class="header">
    <div class="container">
        <div class="header-logo">
            <div class="header-element">
                <div class="header-item">
                    <div class="d-block">
                        <i class="icon icon-main" aria-hidden="true"></i>
                        <div class="title">
                            <strong>Tech</strong><span class="lighten">Online</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-menu">
            <div class="header-element">
                <nav class="navigation header-item">
                    <ul>
                        <li>
                            <a class="nav-item" routerLink="/" routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }">
                                Home
                            </a>
                        </li>
                        <li>
                            <a class="nav-item" routerLink="/tutoriais" routerLinkActive="active">
                                Tutoriais
                            </a>
                        </li>
                        <li>
                            <a class="nav-item" routerLink="/sobre" routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }">
                                Sobre nós
                            </a>
                        </li>
                        <li>
                            <a class="nav-item" routerLink="/contato" routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }">
                                Contato
                            </a>
                        </li>
                    </ul>
                </nav>
                <nav class="navigation header-item right">
                    <ul>
                        <li>
                            <button type="button" class="btn btn-link" (click)="activeButton(inputBox)"
                                [class.active]="active">
                                <i class="fa fa-search" aria-hidden="false"></i>
                                Buscar solução
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="box-search" [class.active]="active">
    <div class="container">
        <form (submit)="pesquisar()" ngNativeValidate>
            <input type="text" name="search" id="search" class="form-control pull-right" placeholder="Digite sua dúvida"
                [formControl]="searchText" required #inputBox>
            <button type="submit" style="display: none;"></button>
        </form>
    </div>
</div>